src/flows/Compare_Contacts_vs_Emps.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>CountSetup</name>
        <label>CountSetup</label>
        <locationX>236</locationX>
        <locationY>222</locationY>
        <assignmentItems>
            <assignToReference>Number</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Find_Number_of_Contacts</name>
        <label>Find Number of Contacts</label>
        <locationX>506</locationX>
        <locationY>117</locationY>
        <assignmentItems>
            <assignToReference>numOfContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Number_of_Emps</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_numOfContacts_and_numOfEmps_Equal</name>
        <label>Are numOfContacts and numOfEmps Equal?</label>
        <locationX>465</locationX>
        <locationY>233</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Equals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numOfContacts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>numOfEmps</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Equal</targetReference>
            </connector>
            <label>Equals</label>
        </rules>
        <rules>
            <name>Not_Equals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numOfContacts</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>numOfEmps</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Equal</targetReference>
            </connector>
            <label>Not Equals</label>
        </rules>
    </decisions>
    <interviewLabel>Compare Contacts vs Emps {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Compare Contacts vs Emps</label>
    <loops>
        <name>Calculate_Count</name>
        <label>Calculate Count</label>
        <locationX>232</locationX>
        <locationY>114</locationY>
        <assignNextValueToReference>Contact</assignNextValueToReference>
        <collectionReference>contactCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CountSetup</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Find_Number_of_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Find_Contacts</name>
        <label>Find Contacts</label>
        <locationX>90</locationX>
        <locationY>109</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Calculate_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>contactCollection</outputReference>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_Number_of_Emps</name>
        <label>Find Number of Emps</label>
        <locationX>684</locationX>
        <locationY>115</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_numOfContacts_and_numOfEmps_Equal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>numOfEmps</assignToReference>
            <field>NumberOfEmployees</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Equal</name>
        <label>Equal</label>
        <locationX>236</locationX>
        <locationY>387</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EqualsMessage</name>
            <fieldText>There are the same number of Contacts and Employees</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Equal</name>
        <label>Not Equal</label>
        <locationX>708</locationX>
        <locationY>388</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NotEqualsMessage</name>
            <fieldText>The number of Contacts and Employees are different.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Find_Contacts</startElementReference>
    <status>Active</status>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Number</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>numOfContacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>numOfEmps</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
